{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'S_oqF.css' %}" /> <!-- Referência ao arquivo CSS externo -->
    <title>O que fazer em Paris</title>
</head>
<body>

<header>
    <h1>O que fazer em Paris</h1>
</header>

<!-- Seção de O que fazer em Paris de graça -->
<section>
    <h2>O que fazer em Paris de graça</h2>
    <p>Apesar de o custo de vida na França ser mais elevado, Paris oferece uma infinidade de opções gratuitas para explorar sua beleza e cultura. Confira nossas sugestões a seguir.</p>

    <h3>Passeio pelo Quartier Latin</h3>
    <img src="{% static 'vai.avif' %}" alt="Quartier Latin em Paris">
    <p>Explore este bairro histórico, lar da Sorbonne e de ruas estreitas repletas de livrarias, cafés e restaurantes charmosos. Você pode passear pelas ruas, apreciar a arquitetura e absorver a atmosfera intelectual.</p>

    <h3>Caminhada ao longo do Rio Sena</h3>
    <img src="{% static '55555.jpg' %}" alt="Rio Sena em Paris">
    <p>Não há custo para caminhar ao longo das margens do Sena, admirando as pontes históricas e os monumentos icônicos como a Catedral de Notre-Dame e a Torre Eiffel. À noite, as vistas são especialmente encantadoras com a iluminação dos monumentos.</p>

    <h3>Passeio pelos Jardins das Tulherias e pelo Louvre</h3>
    <img src="{% static 'passeioi.jpg' %}" alt="Jardins das Tulherias em Paris">
    <p>Caminhe pelos Jardins das Tulherias, que se estendem desde a Praça da Concórdia até ao Museu do Louvre. Você pode apreciar as esculturas, fontes e floreiras, além de tirar fotos icônicas com o Louvre ao fundo.</p>
    
    <h3>Panoramas gratuitos</h3>
    <img src="{% static 'lalalla.avif' %}" alt="Panoramas gratuitos de Paris">
    <p>Alguns edifícios oferecem vistas gratuitas da cidade, como o terraço do Instituto do Mundo Árabe e a Galeries Lafayette Haussmann, que tem um terraço panorâmico com vistas da Opéra Garnier e da Torre Eiffel.</p>

    <p>Fora essas nossas opções, lembre-se de que passear pelos Jardins de Luxemburgo e o bairro de Montmartre também não custa nada!</p>
</section>

</body>
</html>
